<a href="https://colab.research.google.com/github/carolinewan/3m-data-assignment-1.1/blob/main/Copy_of_SGJobData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# from google.colab import files
# import pandas as pd

# # This will open a file browser so you can select your local CSV file
# uploaded = files.upload()

# # Get the file name from the uploaded dictionary
# file_name = next(iter(uploaded))

# # Use the file name (path in the Colab environment) to read the CSV into a pandas DataFrame
# df = pd.read_csv(file_name)

# display(df.head())

In [ ]:
file_path = '/SGJobData.csv'
df = pd.read_csv(file_path)

display(df.head())

,categories,employmentTypes,metadata_expiryDate,metadata_isPostedOnBehalf,metadata_jobPostId,metadata_newPostingDate,metadata_originalPostingDate,metadata_repostCount,metadata_totalNumberJobApplication,metadata_totalNumberOfView,...,numberOfVacancies,occupationId,positionLevels,postedCompany_name,salary_maximum,salary_minimum,salary_type,status_id,status_jobStatus,title
0,"[{""id"":13,""category"":""Environment / Health""},{...",Permanent,2023-05-08,False,MCF-2023-0252866,2023-04-08,2023-03-30,2,5,151,...,1,NaN,Executive,WORKSTONE PTE. LTD.,2800,2000,Monthly,0,Closed,Food Technologist - Clementi | Entry Level | U...
1,"[{""id"":21,""category"":""Information Technology""}]",Permanent,2023-05-08,False,MCF-2023-0273977,2023-04-08,2023-04-08,0,0,55,...,2,NaN,Executive,TRUST RECRUIT PTE. LTD.,5500,4000,Monthly,0,Closed,"Software Engineer (Fab Support) (Java, CIM, Up..."
2,"[{""id"":33,""category"":""Repair and Maintenance""}]",Full Time,2023-04-22,False,MCF-2023-0273994,2023-04-08,2023-04-08,0,7,99,...,1,NaN,Senior Executive,PU TIEN SERVICES PTE. LTD.,4600,3800,Monthly,0,Closed,Senior Technician
3,"[{""id"":21,""category"":""Information Technology""}]",Permanent,2023-05-08,False,MCF-2023-0273991,2023-04-08,2023-04-08,0,6,113,...,1,NaN,Senior Executive,TRUST RECRUIT PTE. LTD.,10000,5000,Monthly,0,Closed,"Senior .NET Developer (.NET Core, MVC, MVVC, S..."
4,"[{""id"":2,""category"":""Admin / Secretarial""}]",Full Time,2023-05-08,False,MCF-2023-0273976,2023-04-08,2023-04-08,0,3,99,...,3,NaN,Non-executive,EATZ CATERING SERVICES PTE. LTD.,3400,2400,Monthly,0,Closed,Sales / Admin Cordinator

In [ ]:
print("Number of rows:", df.shape[0])

Number of rows: 1048575

In [ ]:
# Convert date columns to datetime objects
date_columns = ['metadata_expiryDate', 'metadata_newPostingDate', 'metadata_originalPostingDate']
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

# Create a new column for the average salary
df['average_salary'] = (df['salary_minimum'] + df['salary_maximum']) / 2

display(df[['salary_minimum', 'salary_maximum', 'average_salary', 'metadata_newPostingDate']].head())

   salary_minimum  salary_maximum  average_salary metadata_newPostingDate
0            2000            2800          2400.0              2023-04-08
1            4000            5500          4750.0              2023-04-08
2            3800            4600          4200.0              2023-04-08
3            5000           10000          7500.0              2023-04-08
4            2400            3400          2900.0              2023-04-08

In [ ]:
# Display column names and data types
print("Column Information:")
display(df.info())

# Display basic statistics for numerical columns
print("\nBasic Statistics:")
display(df.describe())

# Display the number of unique values in each column
print("\nUnique Values per Column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()} unique values")

Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 22 columns):
 #   Column                              Non-Null Count    Dtype
---  ------                              --------------    -----
 0   categories                          1044587 non-null  object
 1   employmentTypes                     1044587 non-null  object
 2   metadata_expiryDate                 1044587 non-null  datetime64[ns]
 3   metadata_isPostedOnBehalf           1048575 non-null  bool
 4   metadata_jobPostId                  1044587 non-null  object
 5   metadata_newPostingDate             1044587 non-null  datetime64[ns]
 6   metadata_originalPostingDate        1044587 non-null  datetime64[ns]
 7   metadata_repostCount                1048575 non-null  int64
 8   metadata_totalNumberJobApplication  1048575 non-null  int64
 9   metadata_totalNumberOfView          1048575 non-null  int64
 10  minimumYearsExperience              1048575 non-null  int64
 11  numberOfVacancies                   1048575 non-null  int64
 12  occupationId                        0 non-null        float64
 13  positionLevels                      1044587 non-null  object
 14  postedCompany_name                  1044587 non-null  object
 15  salary_maximum                      1048575 non-null  int64
 16  salary_minimum                      1048575 non-null  int64
 17  salary_type                         1044587 non-null  object
 18  status_id                           1048575 non-null  int64
 19  status_jobStatus                    1044587 non-null  object
 20  title                               1044587 non-null  object
 21  average_salary                      1048575 non-null  float64
dtypes: bool(1), datetime64[ns](3), float64(2), int64(8), object(8)
memory usage: 169.0+ MB

None

Basic Statistics:

,metadata_expiryDate,metadata_newPostingDate,metadata_originalPostingDate,metadata_repostCount,metadata_totalNumberJobApplication,metadata_totalNumberOfView,minimumYearsExperience,numberOfVacancies,occupationId,salary_maximum,salary_minimum,status_id,average_salary
count,1044587,1044587,1044587,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,1.048575e+06,0.0,1.048575e+06,1.048575e+06,1048575.0,1.048575e+06
mean,2023-11-29 13:26:39.490324992,2023-11-03 21:37:52.132813824,2023-11-01 04:03:32.583921664,5.471807e-02,2.130168e+00,2.671861e+01,2.779147e+00,2.674786e+00,NaN,5.609414e+03,3.813629e+03,0.0,4.711521e+03
min,2023-04-04 00:00:00,2023-03-28 00:00:00,2022-10-03 00:00:00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,0.000000e+00,0.000000e+00,0.0,0.000000e+00
25%,2023-08-18 00:00:00,2023-07-24 00:00:00,2023-07-21 00:00:00,0.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,3.300000e+03,2.500000e+03,0.0,2.900000e+03
50%,2023-11-24 00:00:00,2023-10-30 00:00:00,2023-10-30 00:00:00,0.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,1.000000e+00,NaN,4.500000e+03,3.000000e+03,0.0,3.800000e+03
75%,2024-03-16 00:00:00,2024-02-20 00:00:00,2024-02-20 00:00:00,0.000000e+00,1.000000e+00,1.700000e+01,4.000000e+00,2.000000e+00,NaN,6.500000e+03,4.500000e+03,0.0,5.500000e+03
max,2024-06-28 00:00:00,2024-05-29 00:00:00,2024-05-29 00:00:00,2.000000e+00,1.342000e+03,8.190000e+03,8.800000e+01,9.990000e+02,NaN,2.533000e+07,3.500000e+05,0.0,1.266640e+07
std,NaN,NaN,NaN,2.822564e-01,1.036667e+01,8.192188e+01,2.532014e+00,1.109244e+01,NaN,2.704667e+04,3.107354e+03,0.0,1.385953e+04

Unique Values per Column:
categories: 21125 unique values
employmentTypes: 8 unique values
metadata_expiryDate: 449 unique values
metadata_isPostedOnBehalf: 2 unique values
metadata_jobPostId: 1044587 unique values
metadata_newPostingDate: 429 unique values
metadata_originalPostingDate: 603 unique values
metadata_repostCount: 3 unique values
metadata_totalNumberJobApplication: 369 unique values
metadata_totalNumberOfView: 1543 unique values
minimumYearsExperience: 47 unique values
numberOfVacancies: 98 unique values
occupationId: 0 unique values
positionLevels: 9 unique values
postedCompany_name: 53151 unique values
salary_maximum: 2611 unique values
salary_minimum: 2128 unique values
salary_type: 1 unique values
status_id: 1 unique values
status_jobStatus: 3 unique values
title: 377084 unique values
average_salary: 4267 unique values

In [ ]:
import plotly.express as px

# Count job postings by date
job_postings_over_time = df.groupby(df['metadata_newPostingDate'].dt.date).size().reset_index(name='count')
job_postings_over_time['metadata_newPostingDate'] = pd.to_datetime(job_postings_over_time['metadata_newPostingDate'])

# Create an interactive time series plot
fig = px.line(job_postings_over_time, x='metadata_newPostingDate', y='count', title='Job Postings Over Time')
fig.show()

In [ ]:
import plotly.graph_objects as go

# Group by date and calculate average salary
salary_over_time = df.groupby(df['metadata_newPostingDate'].dt.date)[['salary_minimum', 'salary_maximum']].mean().reset_index()
salary_over_time['metadata_newPostingDate'] = pd.to_datetime(salary_over_time['metadata_newPostingDate'])

# Create an interactive time series plot for average salaries
fig = go.Figure()

fig.add_trace(go.Scatter(x=salary_over_time['metadata_newPostingDate'], y=salary_over_time['salary_minimum'], mode='lines', name='Average Minimum Salary'))
fig.add_trace(go.Scatter(x=salary_over_time['metadata_newPostingDate'], y=salary_over_time['salary_maximum'], mode='lines', name='Average Maximum Salary'))


fig.update_layout(
    title='Average Minimum and Maximum Salary Over Time',
    xaxis_title='Date',
    yaxis_title='Salary'
)

fig.show()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')